<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gopherit.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Gopherit.My.MySettings>
            <setting name="Stylesheet" serializeAs="String">
                <value />
            </setting>
            <setting name="StyleDefault" serializeAs="String">
                <value>body{background-color:white;color:black}pre{font-family:monospace}.i{color:green}.h{color:blue}.0 a{color:gray}.1 a{color:orange}.7 a{color:purple}.3 a{color:red}.5 a{color:brown}.9 a{color:brown}.g a{color:brown}.Im a{color:brown}</value>
            </setting>
            <setting name="Bookmarks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>gopher.floodgap.com</string>
                        <string>gopherproject.org</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Gopherit.My.MySettings>
    </userSettings>
</configuration>
