<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gopherit.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Gopherit.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Gopherit.My.MySettings>
            <setting name="Stylesheet" serializeAs="String">
                <value />
            </setting>
            <setting name="Bookmarks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>tilde.town/1/~dcb/gopherit</string>
                        <string>gopherproject.org/1</string>
                        <string>gopher.floodgap.com/1</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="AskBeforeDownloading" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DownloadDir" serializeAs="String">
                <value />
            </setting>
            <setting name="PTForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="PTBackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="PTFont" serializeAs="String">
                <value>Courier New, 10pt</value>
            </setting>
            <setting name="InterfaceBackColor" serializeAs="String">
                <value>Control</value>
            </setting>
        </Gopherit.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Gopherit.My.MySettings>
            <setting name="StyleDefault" serializeAs="String">
                <value>body {
  /* page background color: */
  background-color: white;
  /* color for unknown selectors: */
  color: black;
}
pre {
  /* all gophermap text */
  font-family: monospace;
 /* you can replace "monospace" with whatever font you desire surrounded by ' characters */
}
.i {
  /* inline text */
  color: green;
}
.h a {
  /* html document or off-gopher resource */
  color: blue;
}
.8 a {
  /* telnet session */
  color: blue;
}
.0 a {
  /* text file */
  color: gray;
}
.1 a {
  /* directory */
  color: orange;
}

.7 a {
  /* search service */
  color: purple;
}
.3 a {
  /* error */
  color: red;
}
/* The following are binary-type files that are downloaded (not viewed) */
.4 a {
  /* HQX filer */
  color: brown;
}
.5 a {
  /* PC binary */
  color: brown;
}
}.6 a {
  /* UNIX uuencoded file */
  color: brown;
}
.9 a {
  /* binary file */
  color: brown;
}
.g a {
  /* GIF image */
  color: brown;
}
.s a {
  /* Sound */
  color: brown;
}
.Im a {
  /* gopher item type, capitalized i */
  /* generic image */
  color: brown;
}</value>
            </setting>
        </Gopherit.My.MySettings>
    </applicationSettings>
</configuration>
